@import url(../../Assets/styles/variables.css);

.settingsModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
  }
  
  .settingsContent {
    background-color: var(--blue-modal-background-color);
    backdrop-filter: blur(15px);
    color: white;
    margin: 5% auto;
    padding: 20px;
    border: 0.05rem solid #fff;
    border-radius: 1rem;
    width: 80%;
  }
.settingsContent ul{
    list-style-type: none;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}
.settingsContent * {
    color: white;
}
toggle-switch {
    padding: 0 1rem;
    display: inline;
}
.settingsContent > ul > li:not(.close) {
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
}

.settingsContent > ul > li.close {
    position: absolute;
    top: 5%;
    right: 1%;
}