@import url(../../Assets/styles/variables.css);


.modal-content ul{
    list-style-type: none;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}
.modal-content {
    background-color: var(--blue-modal-background-color) !important;
    color: white;
    padding: 1rem;
}
.modal-content * {
    color: white;
}
toggle-switch {
    padding: 0 1rem;
    display: inline;
}
li:not(.close) {
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}